!!! 5
html
  head
    block title
      title= title
    block styles
      link(rel="stylesheet", type="text/css", href="/css/style.css")
      link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
      link(rel="stylesheet", type="text/css", href="/css/flick/jquery-ui-1.8.22.custom.css")
  body
    block content
    block scripts
      script(src="/js/jquery-1.7.2.min.js")
      script(src="/js/jquery-ui-1.8.22.custom.min.js")
      script(src="/js/bootstrap.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="/js/touch.js")
      script(src="/js/jquery.touch.compact.js")
      script(src="/js/main.js")
